<div class="container">
  <mat-card class="fixed">
    <div>
      <span class="material-icons"> school </span> Total no.of.Students in Class
      I ={{ class1.length }}
    </div>
    <br />
    <div>
      <span class="material-icons"> school </span> Total no.of.Students in Class
      II ={{ class2.length }}
    </div>
    <br />
    <div>
      <span class="material-icons"> school </span> Total no.of.Students in Class
      III ={{ class3.length }}
    </div>
  </mat-card>
  <mat-card class="flex-item">
    <div>
      <span class="material-icons"> flag </span> Total no.of.Students in Cuba
      ={{ cuba.length }}
    </div>
    <br />
    <div>
      <span class="material-icons"> flag </span> Total no.of.Students in Spain
      ={{ Spain.length }}
    </div>
    <br />
    <div>
      <span class="material-icons"> flag </span> Total no.of.Students in India
      ={{ India.length }}
    </div>
  </mat-card>
</div>

<mat-card class="mat-content">

  <div>
    <span class="material-icons">
      people
      </span> Average age of Students
    ={{ averageAge }}
  </div>
</mat-card>
<router-outlet></router-outlet>
